.chat {
  position: absolute;
  font-size: 50px;
  color: #4285f4;
  top: 80%;
  left: 89%;
}

#simulation-frame{
  position: absolute;
}

#iframe_chat_window {
  position: absolute;
  width: 30%;
  height: 70%;
  top: 5%;
  left: 60%;
  bottom: 20%;
  display: none;
  overflow: scroll;
  border: none;
  border-radius: 25px;
}

.paper {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.2);
}

/* On mouse-over, add a deeper shadow */
.paper:hover {
  box-shadow: 0 0 16px 16px rgba(0, 0, 0, 0.2);
}